# Day 3 – Conditional Statements & Loops in Python
Today I explored the fundamentals of control flow in Python — the building blocks that give our code intelligence.

Topics Covered:
-  if-else statements
-  for loops
-  range() function
-  Nested conditions and loops

## 1. If-Else Statements
python
Copy
Edit

In [1]:
a = 12

In [2]:
a > 11

True

In [3]:
if a>11:
    print("my name is Himanshu")

my name is Himanshu

In [4]:
if a>23:
    pass

In [5]:
if a>23:
    print("my name is Himanshu")

In [6]:
if 10>12:
    print("10 is bigger than 12")
else:
    print("10 is lesser than 12")

10 is lesser than 12

In [7]:
if 10<12:
    print("10 is bigger than 12")
else:
    print("10 is lesser than 12")

10 is bigger than 12

In [8]:
# Example 1: Simple if-else
num = 10
if num > 0:
    print("The number is positive.")
else:
    print("The number is non-positive.")

The number is positive.

###  Explanation:
- `if` checks the condition.
- If the condition is `True`, it runs the first block.
- Otherwise, it runs the `else` block.

In [9]:
income = 600

## 2. Elif Statement

In [10]:
if income < 50:
    print("i will able to afford car on EMI")
elif income < 80:
    print("i will able to buy a phone ")
elif income < 700:
    print("i cannot afford the anything from this income like phone or car")
else:
    print("i am the not afford it")

i cannot afford the anything from this income like phone or car

In [11]:
income = int(input())
if income < 50:
    print("i will able to afford car on EMI")
elif income < 80:
    print("i will able to buy a phone ")
elif income < 700:
    print("i cannot afford the anyt|hing from this income like phone or car")
else:
    print("i am the not afford it")

 40

i will able to afford car on EMI

In [12]:
# Example 2: Using elif
marks = 85
if marks >= 90:
    print("Grade: A+")
elif marks >= 75:
    print("Grade: A")
else:
    print("Keep Improving!")

Grade: A

In [18]:
Total_price = int(input())
if Total_price > 20000:
    discount = Total_price* .20
    print("discount will be provided",discount)
elif Total_price <= 7000:
    discounted = Total_price* .05
    print("discounted will be ", )

 22000

discount will be provided 4400.0

In [2]:
Total_price = int(input())
if Total_price > 20000:
    discount = Total_price* .20
    print("discount will be provided",discount)
elif Total_price <= 7000:
    discounted = Total_price* .05
    print("discounted will be ", )

 6000

discounted will be

In [3]:
coupn_code = input()
if coupn_code == "Himanshu20":
    print("discount will be provided by 20%")
    Discount_price = 3000 - 3000*.20
else:
    print("Invalid coupn_code")

 Himanshu20

discount will be provided by 20%

In [4]:
coupn_code = input()
if coupn_code == "Himanshu20":
    print("discount will be provided by 20%")
    Discount_price = 3000 - 3000*.20
else:
    print("Invalid coupn_code")

 Himanshu10

Invalid coupn_code

In [14]:
study_hour = int(input())
if study_hour > 2:
    print("student take 10 or 12 month to prepare for exam ")
elif study_hour <=4 & study_hour >2:
    print("student will take 6 or 7 month to pass in the exam")
elif study_hour > 10:
    print("student will take 4 month to pass the exam ")
else:
    print("it will make diffecult to pass in the exam ")

 2

it will make diffecult to pass in the exam

In [15]:
study_hour = int(input())
if study_hour < 2:
    print("student take 10 or 12 month to prepare for exam ")
elif study_hour <=4 & study_hour >2:
    print("student will take 6 or 7 month to pass in the exam")
elif study_hour > 10:
    print("student will take 4 month to pass the exam ")
else:
    print("it will make diffecult to pass in the exam ")

 4

student will take 6 or 7 month to pass in the exam

In [16]:
study_hour = int(input())
if study_hour < 2:
    print("student take 10 or 12 month to prepare for exam ")
elif study_hour <=4 & study_hour >2:
    print("student will take 6 or 7 month to pass in the exam")
elif study_hour >10:
    print("student will take 4 month to pass the exam ")
else:
    print("it will make diffecult to pass in the exam ")

 12

student will take 4 month to pass the exam

In [24]:
name = input("Please fill you name")
Company_name = input("Please write ur company name")
job_type = input("Write ur job type")
if name == ("Himanshu","Dipu","Ankit","Sahil"):
    print("Your name is in company list . You can use our services")
    if company_name == "ineuron":
        print("You enter the right comapny name ")
    elif company_name == "ineuron services":
        print("you can proceed")
    elif company_name == "oneneuron":
        print("kindly please once again check the compamy name ")
        if job_type == "Data_analyst":
            print("Your salary will be 40k per month ")
        elif job_type == "Data_scientist":
            print("Your salary will be 65k per month ")
        else:
            print("Please mention the better job to find the salary pakage")
else:
    print("You are not the employe")

Please fill you name Himanshu
Please write ur company name oneneuron
Write ur job type Data_analyst

You are not the employe

In [22]:
name = input()
name == "Himanshu","Dipu","Ankit","Sahil"

 Ankit

(False, 'Dipu', 'Ankit', 'Sahil')

## 3. For Loop with List

In [ ]:
# Example 3: Looping through a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(f"I like {fruit}")

In [25]:
l = [1,2,3,4,5,6,7,8,9]
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9

In [26]:
for i in "Himanshu":
    print(i)

H
i
m
a
n
s
h
u

In [27]:
l1 = [1,34,3.4,3+21j,"khokhar",False]
for i in l1:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

In [29]:
l = [1,2,3]
l2 = []
for i in l:
    print(i+2)
    l2.append(l)

3
4
5

In [30]:
l2

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [31]:
l1

[1, 34, 3.4, (3+21j), 'khokhar', False]

In [34]:
for i in l1:
    if type(i) == int:
        print(i)

1
34

In [35]:
l1

[1, 34, 3.4, (3+21j), 'khokhar', False]

In [38]:
 l1 = [2,12,49,65,[89,56,8.9,5,6j,"khokhar"]]

In [39]:
l1

[2, 12, 49, 65, [89, 56, 8.9, 5, 6j, 'khokhar']]

In [44]:
for i in l1:
    if type(i) == int:
        print(i)
    elif type(i) == list:
        for j in i :
            if type(j) == int:
                print(j)

2
12
49
65
89
56
5

## 4. Using range() Function

In [45]:
# Example 4: Looping with range
for i in range(5):
    print(f"Step {i}")

Step 0
Step 1
Step 2
Step 3
Step 4

## 5. Nested If and Loops

In [46]:
# Example 5: Nested structure
for i in range(1, 6):
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd

#### Takeaways

- if-else helps in decision-making.
- `for` loops are perfect for iteration.
- `range()` simplifies number sequences.
- Use indentation carefully — Python is sensitive to it!

Tomorrow I’ll be diving into:
- While loops
- Break and continue statements
- Basic input/output with users

###