# Notebook Title: Day 5 – Python Programs Using Loops

## Day 5: Python Programs Using Loops

Today I practiced writing complete Python programs using **for loops** and **while loops**. These programs helped me apply the concepts I’ve learned over the last few days in real use-cases like number patterns, sum calculations, and logic-based problems.

1. Print First 10 Natural Numbers Using for Loop

In [2]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

2. Print Multiplication Table of a Given Number

In [3]:
num = 5
for i in range(1,11):
    if i <= 50:
        print(i*5)

5
10
15
20
25
30
35
40
45
50

 3. Calculate the Sum of Numbers from 1 to n Using While Loop

In [4]:
n = 10
sum = 0
i = 1
while i <= n:
    sum += i
    i += 1
print(f"Sum from 1 to {n} is: {sum}")

Sum from 1 to 10 is: 55

In [5]:
s = "My name is himanshu khokhar"
len(s)

27

In [6]:
count = 0 
for i in s:
    count = count +1            # You can write the code like this count += 1 meaning o fthis code line is same 
print(count)

27

In [7]:
s

'My name is himanshu khokhar'

In [8]:
s[::-1]

'rahkohk uhsnamih si eman yM'

In [9]:
for i in range(len(s)-1,-1,-1):
    print(s[i])

r
a
h
k
o
h
k

u
h
s
n
a
m
i
h

s
i

e
m
a
n

y
M

In [10]:
i = len(s)-1
while (i>=0):
    print(s[i],end="")
    i = i-1

rahkohk uhsnamih si eman yM

In [17]:
n = "Himansnu"              # to check this statement is a vowel or not 
v = "AaEeIiOoUu"
for i in n:
    if  i in v:
        print("This is vowel, ",i)
    else:
        print("This is not vowel, ",i)

This is not vowel,  H
This is vowel,  i
This is not vowel,  m
This is vowel,  a
This is not vowel,  n
This is not vowel,  s
This is not vowel,  n
This is vowel,  u

In [18]:
"Hi" in "Himanshu"

True

In [19]:
"tnent"
"malayalam"
"eye"

'eye'

In [20]:
s = "malayalam"
if s == s[::-1]:
    print("palindrom")
else:
    print("Not palindrom")

palindrom

In [21]:
s = str(input())
if s == s[::-1]:
    print("palindrom")
else:
    print("Not palindrom")

 tenet

palindrom

In [22]:
s = str(input())
if s == s[::-1]:
    print("palindrom")
else:
    print("Not palindrom")

 Himanshu

Not palindrom

In [23]:
word = str(input())
for i in range(len(word)):
    if word[i] == word[len(word)-1-i]:
        print(word , "is palindrom")
        break
    else:
        print(word , "not palindrom")

 tenet

tenet is palindrom

In [25]:
word = str(input())
for i in range(len(word)):
    if word[i] == word[len(word)-1-i]:
        print(word , "is palindrom")
        break
    else:
        print(word , "not palindrom")
        break

 Himanshu

Himanshu not palindrom

In [29]:
s = str(input())
f = ""
i = len(s)-1
while (i>=0):
    f = f+s[i]
    i = i-1
if (s==f):
    print("palindrom")
else:
    print("Not a palindrom")

 khokhar

Not a palindrom

4. Print Even Numbers Between 1 to 20

In [52]:
print("Even numbers from 1 to 20:")
for i in range(1, 21):
    if i % 2 == 0:
        print(i, end=" ")

Even numbers from 1 to 20:
2 4 6 8 10 12 14 16 18 20

In [32]:
d = { "India" : "IN",
     "China" : "CH",
     "Pakistan" : "Chor",
     "United state" : "US"}

In [33]:
type(d)

dict

In [40]:
"India" in d

True

d = {
    "India": "IN",
    "China": "CH",
    "Pakistan": "Chor",
    "United state": "US"
}

for key in d:
    if len(key) >= 5:
        print(f"{key} : {d[key]}")

5. Reverse a Number Using While Loop

In [53]:
num = 1234
rev = 0
while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num //= 10
print("Reversed number:", rev)

Reversed number: 4321

In [46]:
greator_than_5 = []
lesser_than_5 = []
for key in d:
    if len(key)>5:
        greator_than_5.append(key)
    elif len(key)<=5:
        lesser_than_5.append(key)

print("key with > 5",greator_than_5)
print("key with <5",lesser_than_5)

key with > 5 ['Pakistan', 'United state']
key with <5 ['India', 'China']

In [51]:
d_1 = {"ineuron" : {
                     "a" : 10,
                     "b" : 21,
                     "c" : 54},
       "course" : {
                    "d" : 23,
                    "e" : 56,
                    "f" : 90}
      }
lst_1 = []
lst_2 = []
for i in d_1["ineuron"].values():
    lst_1.append(i)
    lst_1.sort()
print(lst_1[-1])
for i in d_1["course"].values():
    lst_2.append(i)
    lst_2.sort()
print(lst_2[-1])

54
90

6. Factorial of a Number Using for Loop